.center
{
    flex-direction: column;
    align-items: center;
}

.pagepadding
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .25rem;
}

.mat-divider
{
	border-top-color:greenyellow;
	border-top-width: 3px !important;
    width: 100%;
}

.backbutton
{
flex-direction: column;
margin: 0px;
}