<mat-toolbar class="toptoolbar">
    <a routerLink="/resources">
        <button class="mat-icon-button backbutton whitetext">
            <mat-icon mat-icon-button>chevron_left</mat-icon>
        </button>
    </a>
    <h3 class="whitetext toolbarh3">Sounds</h3>
</mat-toolbar>

<div class="pagepadding" style="padding:.5rem">
    <div class="whitetext" style="margin-left:2rem; margin-right: 2rem;">
        <p>We have curated a list of sounds that will help you drift away smoothly into a soothing sleep. Choose any
            sound
            from the list, close your eyes and experience great sleep. Good night!</p>
    </div>


    <div class="rows">
        <a routerLink="/naturesound" style="width: 50%; height:180px ; margin:10px;">
            <mat-card class="subcard" style="margin:0px; background-image: url('assets/Sounds/Nature sounds.png')">
            </mat-card>
        </a>
        <a routerLink="/naturesound" style="width: 50%; height:180px; margin: 10px; ">
            <mat-card class="subcard" style="margin:0px; background-image: url('assets/Sounds/lo-fi beast.png')">
            </mat-card>
        </a>
    </div>
    <div class="rows">
        <mat-card class="subcard" style="background-image: url('assets/Sounds/classical.png')"></mat-card>
        <mat-card class="subcard" style="background-image: url('assets/Sounds/sleepy piano.png')"></mat-card>
    </div>
    <div class="rows">
        <mat-card class="subcard" style="background-image: url('assets/Sounds/into the ocean.png')"></mat-card>
        <mat-card class="subcard" style="background-image: url('assets/Sounds/music for meditation.png')"></mat-card>
    </div>
    <div class="rows">
        <mat-card class="subcard" style="background-image: url('assets/Sounds/jazz for sleep.png')"></mat-card>
        <mat-card class="subcard" style="background-image: url('assets/Sounds/soothing water.png')"></mat-card>
    </div>
</div>