<div class="rows">
    <mat-card class="maincard" style="background-image: url('assets/Main page/Deep breathing.png');"></mat-card>
    <mat-card class="maincard" style="background-image: url('assets/Main page/sounds.png');"></mat-card>
</div>

<mat-card class="maincard" style="height: 150px; width: 340px; margin: 10px; background-image: url('assets/Main page/meditation.png');"></mat-card>
<div class ="rows">
    <mat-card class="subcard" style="background-image: url('assets/Main page/Deep breathing.png')"></mat-card>
    <mat-card class="subcard" style="background-image: url('assets/Main page/Counting.png')"></mat-card>
</div>
<div class ="rows">
    <mat-card class="subcard" style="background-image: url('assets/Main page/gratitude.png')"></mat-card>
    <mat-card class="subcard" style="background-image: url('assets/Main page/low impact pressure.png')"></mat-card>
</div>
