/* class for main card rows in resourse page */
.maincard{
    height: 220px;
    /* width: 150px; */
	border-radius: 15px;
	width: 100% ;
    /* background-image: url('src\assets\kllk.png'); */
    background-size: cover;
    background-position: center;
}

/* for recently played cards */
.subcard{
    height: 180px;
    /* width: 150px; */	border-radius: 15px;
    width: 100% ;
    background-size: cover;
    background-position: center;
	
	   margin: 10px;
}


 