<div class="textcenter"><h1>Resources</h1></div>

<div class="resourcespage_spacing">
    
<div class="rcardsrow1_spacing">

<mat-card class="rcardsrow1"></mat-card>
<mat-card class="rcardsrow1"></mat-card>

</div>

<div class="rcardsrow1_spacing">
    <mat-card class="rcardsrow2"></mat-card>
</div>



<div> <h2>Recently Played</h2></div>
<div class="rcardsrow1_spacing">

    <mat-card class="rcardsrow1"></mat-card>
    <mat-card class="rcardsrow1"></mat-card>
    
    </div>
    <div class="rcardsrow1_spacing">

        <mat-card class="rcardsrow1"></mat-card>
        <mat-card class="rcardsrow1"></mat-card>
        
        </div>

    </div>