.canvas
{
	position: relative;
	
}

.card{
    height: 50%;
	border-radius: 15px;
	width: 90% ;
	background: rgba(0, 0, 0, 0.5);
}
.mat-divider
{
	border-top-color:greenyellow;
	border-top-width: 3px !important;
    width: 100%;
}

.backbutton
{
flex-direction: column;
}

