<p>journal works!</p>
<!-- <div>
    <mat-card class="card"></mat-card>
    <mat-card class="card"></mat-card>
</div>
<div>
    <mat-card class="card" style="width: 100%;"></mat-card> 
</div> -->
<mat-grid-list cols="2" gutterSize="20px">
    <mat-grid-tile><mat-card class="card" ></mat-card></mat-grid-tile>
    <mat-grid-tile>
        <img  src="assets\test.png" style="object-fit: cover; height: inherit; width: inherit;" alt="satelite image">
    </mat-grid-tile>
    <mat-grid-tile colspan="2" style="border-radius: 20px;" style="background-color: aqua;"><mat-card class="card"></mat-card></mat-grid-tile>
</mat-grid-list>

