<div style="min-height: 100vh;">
<mat-toolbar class="toptoolbar">
    <a routerLink="/home"> 
    <button class="mat-icon-button backbutton ">
        <mat-icon mat-icon-button>chevron_left</mat-icon>
    </button>
    </a>
    <h3 class="whitetext toolbarh3">Journal</h3>
</mat-toolbar>
<mat-toolbar class="toptoolbar" style="justify-content: space-between;">
    <a routerLink="/journal"> 
    <button class="mat-button backbutton" >
       <h3 class="whitetext">Day</h3>
       <mat-divider></mat-divider>
    </button>
    </a>
   
      <a routerLink="/weekview"> 
    <button class="mat-button backbutton ">
       <h3 class="whitetext">Week</h3>
    </button>
    </a>
    <a routerLink="/weekcomp"> 
        <button class="mat-button backbutton ">
           <h3 class="whitetext">Month</h3>
        </button>
        </a>
</mat-toolbar>
<div class="center">
      <mat-card class="card">
        <div>
            <p class="body-Heading">Sleep</p>
            <p class="body-SubHeading">11.30 PM - 6.30 AM</p>
        </div>

        <div>
            <canvas baseChart class="canvas" 
                        [data]="doughnutChartData" 
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType" 
            [options]="barChartOptions">
            </canvas>
        </div>

    </mat-card>
</div>
<div class="center" style="margin-top: 20px;">
<mat-card class="card">
    
        <p class="whitetext center">Did you know?</p>
        <p class="whitetext center" style="text-align: center;">
        With the most advanced technology sensors, your wearable device provides accurate meaningful data by simply measuring your heart pulse rate and SPO2 levels. 
        From this data, we are able to then capture this to give you insights into your sleeping patterns with simple graph breakdowns. 
                Why not click onto the stages of sleep to give a more insightful view with tips and tricks!  </p>
</mat-card>
</div>

<div class="center" style="margin-top: 20px;">
    <mat-card class="card">
<div style="display: block;">
  <canvas baseChart 
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions2"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType">
  </canvas>
</div>
    </mat-card>
</div>

<div class="center" style="margin-top: 20px;">
    <mat-card class="card">

<div style="display: block;">
  <canvas baseChart width="200" height="100"
    [datasets]="lineChartData"
    [labels]="lineChartLabels"
    [options]="lineChartOptions"
    [colors]="lineChartColors"
    [legend]="lineChartLegend"
    [chartType]="lineChartType"
    [plugins]="lineChartPlugins">
  </canvas>
</div>
    </mat-card>
</div>


</div>