<div class="backGround">
  <mat-toolbar class="toptoolbar">
    <a routerLink="/physical">
      <button class="mat-icon-button backbutton white ">
        <mat-icon mat-icon-button>chevron_left</mat-icon>
      </button>
    </a>
    <h3 class="whitetext toolbarh3">Light Stretch</h3>
  </mat-toolbar>
  <div class="flex">

    <video width="320" height="240" controls autoplay>
      <source src="assets\Sounds\stretchvideo.mp4" type="video/mp4">
      <source src="assets\Sounds\stretchvideo.mp4" type="video/ogg">
      Your browser does not support the video tag.
    </video>
  </div>
</div>