<mat-toolbar class="toptoolbar">
    <a routerLink="/resources">
    <button class="mat-icon-button backbutton white text">
        <mat-icon mat-icon-button>chevron_left</mat-icon>
    </button>
</a>
    <h3 class="whitetext toolbarh3">Meditation</h3>
</mat-toolbar>
<div class="pagepadding" style="padding:.5rem">

    <div class="whitetext description-text" style="margin-left:2rem; margin-right: 2rem;">
        <p>Meditation helps you relax your mind and body by lowering your heart rate. With regular practice you will
            slowly start to experience how this naturally aids to your sleep quality and mindfulness</p>
    </div>
    <div class="rows">
        <mat-card class="subcard" style="background-image: url('assets/meditation/gratitude.png')"></mat-card>
        <mat-card class="subcard" style="background-image: url('assets/meditation/guided imagery.png')"></mat-card>
    </div>
    <div class="rows">
        <mat-card class="subcard" style="background-image: url('assets/meditation/deep breathing.png')"></mat-card>
        <mat-card class="subcard" style="background-image: url('assets/meditation/total relaxation.png')"></mat-card>
    </div>
    <div class="rows">
        <mat-card class="subcard" style="background-image: url('assets/meditation/body scan.png')"></mat-card>
        <mat-card class="subcard" style="background-image: url('assets/meditation/relax the mind.png')"></mat-card>
    </div>
    <div class="rows">
        <mat-card class="subcard" style="background-image: url('assets/meditation/counting.png')"></mat-card>
        <mat-card class="subcard" style="background-image: url('assets/meditation/5 minute meditation.png')"></mat-card>
    </div>
</div>