<mat-toolbar class="toolbar">
    <a routerLink="/home">
    <button class="backbutton mat-icon-button text-white" >
        <mat-icon mat-icon-button>chevron_left</mat-icon>
    </button>
</a>
    <p class="margin-remove-bottom text-white">Alarm</p>
    <a routerLink="/alarmsettings">
    <button class="backButton mat-icon-button text-white" style="margin-top: 20px;" >
        <mat-icon mat-icon-button>settings</mat-icon>
    </button>
</a>
</mat-toolbar>
    <div style="margin:2rem;">
        <p class="margin-remove-bottom text-white description-text">Set daily alarms and use the ring vibrate feature to
            wake up in your lightest sleep stage</p>
    </div>


    <!-- alarm page cards using component app-alarm-card -->
    <div class="alarmAlign">
        <app-alarm-card [day]="'Monday'" [time]="'9.30 AM'"></app-alarm-card>
        <app-alarm-card [day]="'Tuesday'" [time]="'9.30 AM'"></app-alarm-card>
        <app-alarm-card [day]="'Wednesday'" [time]="'9.30 AM'"></app-alarm-card>
        <app-alarm-card [day]="'Thursday'" [time]="'9.30 AM'"></app-alarm-card>
        <app-alarm-card [day]="'Friday'" [time]="'9.30 AM'"></app-alarm-card>
        <app-alarm-card [day]="'Saturday'" [time]="'9.30 AM'"></app-alarm-card>
        <app-alarm-card [day]="'Sunday'" [time]="'9.30 AM'"></app-alarm-card>
        <app-alarm-card [day]="'Sunday'" [time]="'9.30 AM'"></app-alarm-card>

    </div>


