.flex
{
    display: flex;
    justify-content: space-between;
    margin:1rem;
    margin-left: -10 !important;
}

.todaycard
{
    display: block;
    justify-content: space-between;
    margin:1rem;
    margin-left: -10

}
.toolbar
{
    background: transparent;
    display: flex;
    justify-content: space-between;
}
.alarmAlign
{
    padding : 1rem;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}

.cardwidth
{
    width:50%
}

.cardleftmargin
{
    margin-left:10px;
}

