.flex
{
    display: flex;
    justify-content: space-between;
    margin:1rem;
    margin-left: -10 !important;
}

.todaycard
{
    display: block;
    justify-content: space-between;
    margin:1rem;
    margin-left: -10

}
.alarmAlign
{
      padding : 1rem;
}

.cardwidth
{
    width:50%
}

.cardleftmargin
{
    margin-left:10px;
}

