.alarmOn
{
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    color: rgb(185, 185, 185);
    border-radius: 20px;
    height: 70px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.inputTime{
    background: transparent;
    color: white;
    border: none;
    width: 60px;
    position: absolute;
    left: 50%;
}
.alarmOff
{
    opacity: 0.6;
    background-color: #6C7680;
    border-radius: 20px !important;
    height: 70px !important;

    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}

.todayscard
{
    border:3px solid #6C7680;
}

