<!-- <app-home></app-home> -->
<app-journal></app-journal>
<mat-toolbar class="toolbar">
    <button mat-icon-button class="example-icon" aria-label="home">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" (click)="navtoJournal()" aria-label="bedtime">
        <mat-icon>bedtime</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="alarm">
        <mat-icon>alarm</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Resources">
        <mat-icon>library_music</mat-icon>
    </button>
    <div class= "flex-container">
        <button mat-icon-button class= "flex-container"aria-label="settigns">
            <mat-icon>settings</mat-icon>
            <span>set</span>
        </button>
    </div>
</mat-toolbar>