.toolbar
{
    bottom: 0;
    position:sticky;
    justify-content: space-between;
    z-index: 10;
    background: #212529;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0%;
}
.flex-container > span {
  font-size: 10px;
}

