<mat-toolbar class="toptoolbar">
    <a routerLink="/resources">
    <button class="mat-icon-button backbutton white text">
        <mat-icon mat-icon-button>chevron_left</mat-icon>
    </button>
</a>
    <h3 class="whitetext toolbarh3">Physical</h3>
</mat-toolbar>

<div class="pagepadding" style="padding:.5rem">

<div class="whitetext description-text" style="margin-left:2rem; margin-right: 2rem;">
    <p>Light exercises or yoga before bedtime helps lower blood pressure which can improve deep. Choose any routine from the list and emerge yourself in a relaxing routine</p></div>
<div class ="rows">

    <a routerLink="/yogapage" style="width: 50%; height:180px ; margin:10px;">
        <mat-card class="subcard" style="margin: 0px; background-image: url('assets/physical/light stretch.png')"></mat-card>
    </a>
    
    <a routerLink="/yogapage" style="width: 50%; height:180px ; margin:10px;">
        <mat-card class="subcard" style="margin: 0px; background-image: url('assets/physical/inbedyoga.png')"></mat-card>
    </a>

    
</div>
<div class ="rows">
    <mat-card class="subcard" style="background-image: url('assets/physical/restorative yoga.png')"></mat-card>
    <mat-card class="subcard" style="background-image: url('assets/physical/low impact pressure.png')"></mat-card>
</div>
<div class ="rows">
    <mat-card class="subcard" style="background-image: url('assets/physical/wind down.png')"></mat-card>
    <mat-card class="subcard" style="background-image: url('assets/physical/breathing basics.png')"></mat-card>
</div>
<div class ="rows">
    <mat-card class="subcard" style="background-image: url('assets/physical/bedtime stretch.png')"></mat-card>
    <mat-card class="subcard" style="background-image: url('assets/physical/total relaxation.png')"></mat-card>
</div>
</div>