<mat-toolbar class="toptoolbar" style="justify-content: center;">
  <img src="assets\Main page\logo.png" alt="" style="height: 40px; margin-top:5%">

</mat-toolbar>

<div class="cardheightspacinghome">

  <div class="center">
    <h2 class="whitetext">Good Evening Benjamin</h2>
  </div>

  <div class="cardspacing">
    <mat-card class="card">
      <div>
        <p class="whitetext">Sleep</p>
        <p class="whitetext" style="font-size: xx-small; margin-top: -10%;">11.30 PM - 6.30 AM</p>
      </div>

      <div>
        <canvas baseChart class="canvas" [data]="doughnutChartData" [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType" [options]="barChartOptions">
        </canvas>
      </div>

    </mat-card>
    <mat-card class="card marginleftsmall" [ngClass]="{'alarmOff' : alarmToggle === false}">

      <p class="whitetext">Alarm</p>
      <div class="circle">
        <P style="margin:0px">6.30 AM</P>
      </div>
      <div class="toggle">
        <mat-slide-toggle [checked]="true" [color]="'primary'" (change)="alarmToggle = ! alarmToggle">
        </mat-slide-toggle>
      </div>
    </mat-card>

  </div>



  <h2 Class="whitetext">Favourites</h2>
  <div class="slider">
    <div class="slide">
      <a routerLink="/naturesound">
        <img src="assets\Sounds\Nature sounds.png" alt="">
      </a>
    </div>
    <div class="slide">
      <img src="assets\Sounds\sleepy piano.png" alt="">
    </div>
    <div class="slide">
      <img src="assets\Sounds\classical.png" alt="">
    </div>
    <div class="slide">
      <img src="assets\physical\total relaxation.png" alt="">
    </div>
    <div class="slide">
      <img src="assets\meditation\deep breathing.png" alt="">
    </div>
  </div>

  <h2 Class="whitetext">Recently Played</h2>

  <div class="slider">
    <div class="slide">
      <a routerLink="/yogapage">
        <img src="assets\physical\light stretch.png" alt="">
      </a>
    </div>
    <div class="slide">
      <img src="assets\Sounds\lo-fi beast.png" alt="">
    </div>
    <div class="slide">
      <img src="assets\Sounds\rainforest sounds.png" alt="">
    </div>
    <div class="slide">
      <img src="assets\Sounds\soothing water.png" alt="">
    </div>
  </div>
  <!-- <div class="overlay"></div> -->
</div>