

.card{
    height: 200px;
    /* width: 150px; */
	border-radius: 15px;
	width: 200px ;
    /* background-image: url('src\assets\kllk.png'); */
	background: rgba(0, 0, 0, 0.5);
	
    
}

.canvas
{
    height: 100px !important;
    width: 200px !important;
		/* margin-left: -40px !important; */
	/* to centre element inside the card */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.cardspacing{
    display: flex;
    justify-content: space-between;
    
}

.marginleftsmall{
    margin-left: 10px;
}

.cardheightspacinghome
{
    padding-bottom: 50px;
    padding: 20px;
    align-items: center;
}
.card1
{   height:60px;
    width: 60px;
    background-image: url('src\assets\kllk.png');
}

 body {
	 width: 100%;
	 margin: 0;
	 padding: 0;
	 font-family: open sans;
	 background: #f8f8f8;
}
 h3 {
     text-align: left;
     
     margin: 20px ;
     margin-bottom: 0px !important;
	 font-size: 1rem;
	 font-weight: 500;
	 color: #444;
}
 .slider {
	 display: flex;
	 height: 165px;
	 max-height: auto;
	 overflow-y: hidden;
	 overflow-x: scroll !important;
	 padding: 5px;
	 scroll-behavior: smooth;
}
 .slider::-webkit-scrollbar {
	 height: 5px;
	 width: 150px;
	 display: none;
}
 .slider::-webkit-scrollbar-track {
	 background: transparent;
}
 .slider::-webkit-scrollbar-thumb {
	 background: #888;
}
 .slider::-webkit-scrollbar-thumb:hover {
	 background: #555;
}
 .slider img:hover {
	 transform: scale(1.05);
	 box-shadow: 10px 10px 10px rgba(0,0,0,0.15);
}
 .slide {

	 position: relative;
}
 .slide img {
	 height: 150px;
	 width: 150px;
	 margin: 0 10px;
	 object-fit: cover;
	 border-radius: 15px;
	 cursor: pointer;
	 transition: .25s ease-in-out;
}
 .control-prev-btn {
     position: sticky;
     z-index: 10;
	 top: 50%;
	 left: 0;
	 background-color: rgba(255,255,255,0.55);
	 height: 100px;
	 line-height: 100px;
	 width: 45px;
	 text-align: center;
	 box-shadow: 0 1px 3px #888;
	 user-select: none;
	 color: #444;
	 cursor: pointer;
}
 .control-next-btn {
     position: sticky;
     z-index: 10;
	 top: 50%;
	 right: 0;
	 background-color: rgba(255,255,255,0.55);
	 height: 100px;
	 line-height: 100px;
	 width: 45px;
	 text-align: center;
	 box-shadow: 0 1px 3px #888;
	 user-select: none;
	 color: #444;
	 cursor: pointer;
}
.slide img.zoomed{
	  width: 500px;
    height: 600px;
    position: fixed;
    left: 25%;
    top: 0%;
    z-index: 1000;
		transform: scale(5) translatey(5) !important; 
	
}
.overlay{
		position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.45);
    top: 0;
		display: none;
}
.overlay.active{
	display: block;
}
 @media only screen and (max-width: 420px) {
	 .slider {
		 padding: 0;
	}
	 .slide {
		 padding: 16px 10px;
	}
	 .slide img {
		 margin: 0;
	}
	 .control-prev-btn {
		 top: 37%;
	}
	 .control-next-btn {
		 top: 37%;
	}
}

.top-left {
    position: absolute;
    top: 16px;
    left: 16px;
    color: azure;
  }
  
  .Maincards img {
    height: 200px;
    width: 150px;
    margin: 0 10px;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
    transition: .25s ease-in-out;
  }

  /* for home card text sleep time*/
  .p1 {
    font-size: 9px;
    width: 90px;
    height: 60px;
    margin: -2;
    margin-left: -20px;
    margin-top: 4px;
    padding: 0;
	display: inline;
	color: rgb(255, 255, 255);
  }
  
  /* for home card text sleep time*/
  h3 {
	font-size: 12px;
	width: 50%;
	height: 60px;
	margin: 0;
	padding: 0;
	display: inline;
	color: rgb(255, 255, 255) !important;
  }
  
/* for home alarm card */
  .circle {
	width: 100px;
	height: 100px;
	line-height: 100px;
	border-radius: 50%;
	font-size: 12px;
	color: #fff;
	text-align: center !important;
	background: #000;
	/* to center element inside the card */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	  }
 