<div class="cardheightspacinghome">
  <div class="cardspacing">
    <mat-card class="card">'
      <div></div>
    </mat-card>
    <mat-card class="card" style="background-image: url('assets/test.png');  object-fit: contain; "></mat-card>
    <mat-card class="card"></mat-card>

  </div>

  <div class="cardspacing">
    <mat-card class="card">
      <div></div>
    </mat-card>
    <mat-card class="card"></mat-card>
    <div>
      <mat-card class="card"></mat-card>
    </div>
  </div>

  <div class="cardspacing">
    <mat-card class="card">
      <img src="assets\test.png" style="object-fit: cover; height: inherit; width: inherit;">
    </mat-card>
    <mat-card class="card"></mat-card>
    <mat-card class="card"></mat-card>
  </div>
</div>