<div class="cardheightspacinghome">
  <div class="cardspacing">
    <mat-card class="card">'
      <div></div>
    </mat-card>
    <mat-card class="card" style="background-image: url('src\assets\kllk.png');"></mat-card>
    <mat-card class="card"></mat-card>
    <mat-grid-tile style="background-image: url('src\assets\kllk.png');">
      <mat-card style="background-color: rgba(51, 170, 51, .1)">
        <mat-card-title>Iris</mat-card-title>
        <mat-card-content>Lencwadi futhi ibonisa ukuhlelwa kwenhlangano yoFakazi ngaphansi kweNdikimba Ebusayo,
          kuhlanganise namabandla anezindikimba zabadala, iKomiti Eyengamele [yeGatsha] yamalungu ayisikhombisa
          yakulelozwe, kanye nababonisi besifunda nabesigodi.</mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </div>

  <div class="cardspacing">
    <mat-card class="card">
      <div></div>
    </mat-card>
    <mat-card class="card"></mat-card>
    <div>
      <mat-card class="card"></mat-card>
    </div>
  </div>

  <div class="cardspacing">
    <mat-card class="card">
      <img src="src\assets\test.png" height=50px width=50px>
    </mat-card>
    <mat-card class="card"></mat-card>
    <mat-card class="card"></mat-card>
  </div>
</div>