<mat-toolbar class="toptoolbar">
  <a routerLink="/home">
  <button class="mat-icon-button backbutton ">
    <mat-icon mat-icon-button>chevron_left</mat-icon>
  </button>
</a>
  <h3 class="whitetext toolbarh3">Settings</h3>
</mat-toolbar>
<div class="pagepadding">
  <div class="flex">
    <h3 class="whitetext">Sebastian</h3>

  </div>
  <mat-divider></mat-divider>

  <mat-accordion>
    <mat-expansion-panel class="transparent mat-elevation-z0 whitetext">
      <mat-expansion-panel-header class="transparent mat-elevation-z0 whitetext">
        <mat-panel-title>
          <p class="whitetext">Account</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Email: seb.vgh@gmail.com</p>
      <p>Name: Sebastian Varghese</p>
      <p>DOB: 29/06/1992</p>
    </mat-expansion-panel>
  </mat-accordion>


  <div class="flex">
    <p class="whitetext">Device</p>
    <p class="whitetext" style="font-size:xx-small;">CONNECTED</p>

  </div>


  <a class="flex" routerLink="/alarmsettings">
    <p class="whitetext">Alarm Settings</p>
    <mat-icon class="whitetext">keyboard_arrow_right</mat-icon>
  </a>


  <div class="flex">
    <p class="whitetext">Bluelight Filter</p>
    <mat-slide-toggle [checked]="true" [color]="'primary'">
    </mat-slide-toggle>
  </div>

  <div class="flex">
    <p class="whitetext">Auto Sleep Tarcking</p>
    <mat-slide-toggle [checked]="true" [color]="'primary'">
    </mat-slide-toggle>
  </div>
  <div class="flex">
    <p class="whitetext">Push Notification</p>
    <mat-slide-toggle [checked]="true" [color]="'primary'">
    </mat-slide-toggle>
  </div>




  <mat-accordion>
    <mat-expansion-panel class="transparent mat-elevation-z0">
      <mat-expansion-panel-header class="transparent mat-elevation-z0">
        <mat-panel-title>
          <p class="whitetext">Share with friends</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="center" style="justify-content: center;">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-divider></mat-divider>
  <div class="flex">
    <p class="whitetext">About Us</p>

  </div>
  <div class="flex">
    <p class="whitetext">Privacy Policy</p>

  </div>
  <div class="flex">
    <p class="whitetext">Terms and Conditions</p>
  </div>
</div>